<% include partials/header.ejs %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main style="background-color:black;" >
      <div>
        <table>
            <th>
                <td style="width: 45%">
                    <img
            style="
              float: right;
              width: 300px;
              height: 300px;
              
            "
            ;
            src="\Assets\images\IMG_5192.jpg"
          />
                </td>
                <td>
                    <p style="color:Orange;">I am Ravneet Singh currently enrolled in my third semester of software engineering Technician program at Centennial College
                        <ul>
                             <li style="color:Orange;"> I am originally from India and moved to Canada few months ago.</li>
                             
                             <li style="color:Orange;"> I have done my High school in India and my majors were Physics, Maths and Chemistry.</li>
                        </ul>
                     </p>
                </td>
            </th>
        </table>
        
        <table>
            <th>
                <td>
                    <p>
                        <ul>
                             <li style="color:Orange;">This course is my first exposure to the world of programming.
                            </li>
                             <li style="color:Orange;">I have strong foundational knowledge in C#, Python and Javascript</li>
                             <li style="color:Orange;">Basic understanding of Web Development</li>
                        </ul>
                     </p>
                </td>
                <td style="width: 40%">
                    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1157354179%2F960x0.jpg%3Ffit%3Dscale" width="100%" >          
                </td>
            </th>
        </table><br>
      </div>
    </main>
  </body>
</html>



