<% include partials/header.ejs %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="text-align:center; background-color:black;color:red;">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>

    <div style="text-align: center">
        
          
        
        <h3>
          Please fill out this form to get in touch with me        </h3>
      </div>
      <form action="mailto: rsin987@my.centennialcollege.ca.com" method="POST">
        <fieldset>
          <legend>Information </legend>

          <div>
            <label>
              <b>Name</b>
              <input type="text" name="code" required />
            </label>
          </div>
          <br>
          
          <div>
            <label>
              <b>Email</b>
              <input type="text" name="code" required />
            </label>
          </div>
          <div>
              <br>
              
            <label>
              <b>Phone number</b>
              <input type="text" name="code" required />
            </label>
            <br>
            
          </div>
          
            <label>
              11. What is the <b>best thing</b> about this website?
              <textarea
                name="oth_comments"
                id="oth_comments"
                cols="20"
                rows="1"
              ></textarea>
            </label>
          </div>
          <br>
          <div>
            <label>
              12. How can we <b>improve</b> our website?
              <textarea
                name="oth_comments"
                id="oth_comments"
                cols="20"
                rows="1"
              ></textarea>
            </label>
          </div>
          <div>
            <label>
              13. Other
              <textarea
                name="oth_comments"
                id="oth_comments"
                cols="50"
                rows="5"
              ></textarea>
            </label>

            <br>
            <br>
            <div style="font-size: 25px">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
              </div>
          </div>
  </body>
</html>
