<!-- Class code

  <div class="container">
  <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>

-->
<% include partials/header.ejs %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="background-color: black">
    <div style="text-align: center">
      <main>
        <style>
          main {
            background-color: black;
            color: cornsilk;
            width: 980;
            right: auto;
            left: auto;
            width: 980px;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 5px;
            border-color: brown;
            padding: 10px;
          }
          h1 {
            text-align: center;
            color: red;
            font-size: 40px;
          }
          h2 {
            text-align: center;
            color: rgb(5, 128, 150);
            font-size: 35px;
          }
          table {
            font-size: 30px;
            color: rgb(5, 128, 150);
          }
        </style>

        <h1 style="color: rgb(5, 128, 150)">Welcome to my Webpage</h1>

        <img
          style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
          "
          src="/images/rs-logo.jpeg"
          alt="My photo"
        />
        <br />
        <br />
        <br />
        <div>
          <img
            style="
              float: right;
              width: 300px;
              height: 300px;
              border-radius: 40%;
            "
            ;
            src="/images/IMG_5192.jpg"
          />
        </div>
        <br /><br />

        <hr style="color: red" />
        <h1 style="text-align: center">Little about me</h1>

        <div>
          <p style="font-size: 30px">
            I am Ravneet Singh studying Software Engineering Technician at
            Centennial College
          </p>
        </div>

        <hr style="color: red" />

        <br />
        <br />
        <br />

        <h1>What is this webpage about?</h1>

        <img
          style="float: left; width: 400px"
          src="https://www.apple.com/v/macbook-pro-13/g/images/overview/hero_endframe__bsza6x4fldiq_large_2x.jpg"
          alt="Macbook Pro"
        />
        <p style="font-size: 25px">
          This is my personal portfolio website where you will get to know:
          <br />
          -->Some of my project that I am working upon
          <br />
          -->What services do I offer
          <br />
          --> Ways to connect and contact me
        </p>

        <hr style="color: red" />

        <hr />
      </main>
    </div>
  </body>
</html>
