<% include partials/header.ejs %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>

    <style>
      
        
      body {
  color: #333;
  font-family: Verdana, sans-serif;
  font-feature-settings: "kern","liga","pnum";
  font-size: 1em;
  line-height: 1.5;
  
}
    
    h3 {
      text-align: center;
      color: brown;
      background-color:green ;
      font-size: 25px;
    }
    
    #upto_gif{
      text-align: center;
    }
  </style>
    <h1 style="text-align:center;color:olive;">Some of my Projects: </h1>

    <h2> Protected Areas</h2>

    <br>
    <br>


    <div id="upto_gif">
      
      <h2 id="top" style="text-align: center; font-size: 30px;background-color: grey;"><b>"Protected Areas" the Bastions Of Hope for Biodiversity </b></h3>
      <hr>
      <nav>
        <b>
            <a href="https://www.iucn.org/theme/protected-areas">IUCN Website</a>| 
            <a href="https://en.wikipedia.org/wiki/Protected_area#Protection_of_natural_resources">Protected Areas(Wikipedia)</a>| 
            
            <a href="https://globalforestatlas.yale.edu/conservation/protected-areas">Global Forest Atlas</a>|
            <a href="https://www.iucn.org/theme/protected-areas/contact">Contact</a>
        
        </b></nav>
        
        <img src="https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2019/05/1024x1024.gif" style="width: 600px;" alt="animation showing increase in protected areas">
  
        <hr>
      </div>
      <div>
        <h3><b>What is a protected area ?</b></h3>
        <p >
          <b>A protected area is a clearly defined geographical space, recognised,
          dedicated and managed, through legal or other effective means, to
          achieve the long term conservation of nature with associated ecosystem
          services and cultural values. (IUCN Definition 2008)</b>
           <div style="text-align: center;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Protected_areas_by_percentage_per_country.svg/1040px-Protected_areas_by_percentage_per_country.svg.png" style="width: 600px;" alt="World map with percentage of each country under protection" >
          <h6><b>World map with percentage of each country under protection</b> </h6>
        </div>
        <br><a href="#top">back to top</a>
  
        </p>
  
        <h3 style="text-align: center;color: indigo;">How These Protected Areas are Categoried :</h3>
  
        <div>
          <ul style="list-style-image:url(animated-bullet-10.gif);">
            <li>
              <b>Ia Strict Nature Reserve:</b>
  
              <p >
                Category Ia are strictly protected areas set aside to protect
                biodiversity and also possibly geological/geomorphical features,
                where human visitation, use and impacts are strictly controlled
                and limited to ensure protection of the conservation values.
              </p>
            </li>
            <li>
              <b>Ib Wilderness Area:</b>
  
              <p >
                Category Ib protected areas are usually large unmodified or
                slightly modified areas, retaining their natural character and
                influence without permanent or significant human habitation, which
                are protected and managed so as to preserve their natural
                condition.
              </p>
            </li>
            <li>
              <b>II National Park:</b>
  
              <p >
                Category II protected areas are large natural or near natural
                areas set aside to protect large-scale ecological processes, along
                with the complement of species and ecosystems characteristic of
                the area, which also provide a foundation for environmentally and
                culturally compatible, spiritual, scientific, educational,
                recreational, and visitor opportunities.
              </p>
            </li>
            <li>
              <b>III Natural Monument or Feature:</b>
  
              <p >
                Category III protected areas are set aside to protect a specific
                natural monument, which can be a landform, sea mount, submarine
                cavern, geological feature such as a cave or even a living feature
                such as an ancient grove. They are generally quite small protected
                areas and often have high visitor value.
              </p>
            </li>
            <li>
              <b>IV Habitat/Species Management Area:</b>
  
              <p >
                Category IV protected areas aim to protect particular species or
                habitats and management reflects this priority. Many Category IV
                protected areas will need regular, active interventions to address
                the requirements of particular species or to maintain habitats,
                but this is not a requirement of the category.
              </p>
            </li>
            <li>
              <b>V Protected Landscape/ Seascape:</b>
  
              <p >
                A protected area where the interaction of people and nature over
                time has produced an area of distinct character with significant,
                ecological, biological, cultural and scenic value: and where
                safeguarding the integrity of this interaction is vital to
                protecting and sustaining the area and its associated nature
                conservation and other values.
              </p>
            </li>
            <li>
              <b>VI Protected area with sustainable use of natural resources:</b>
  
              <p >
                Category VI protected areas conserve ecosystems and habitats
                together with associated cultural values and traditional natural
                resource management systems. They are generally large, with most
                of the area in a natural condition, where a proportion is under
                sustainable natural resource management and where low-level
                non-industrial use of natural resources compatible with nature
                conservation is seen as one of the main aims of the area.
              </p>
            </li>
          </ul>
          <br><a href="#top">back to top</a>
        </div>
      </div>
      <h3 style="text-align: center;">
        Understanding why do we these "Protected areas" by Global Protected Areas
        Programme .
      </h3>
      <div>
        <ol>
          <li>
            <b>Valuing and conserving biodiversity</b>
            <hr>
  
            <img src="https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2019/06/0.95714900_1531908500_forest-1.jpg" style="float: right; width: 500px; border-radius: 50px;" alt="conserved areas picture">
             
            <p>
             
              
  
              GPAP will measure progress towards the attainment of biodiversity
              conservation targets in the Strategic Plan for Biodiversity,
              especially the Aichi Biodiversity Target 11, where national
              governments have committed to establishing protected area systems
              that are ecologically representative and that conserve areas that
              are important for biodiversity conservation and ecosystem services,
              that are well-connected, effectively and equitably managed, and
              integrated into the wider landscape and seascape. IUCN GPAP working
              together with UNEP-WCMC and the CBD Secretariat, will report on the
              status of protected areas globally through the Protected Planet
              Report, the first issue of which was released in 2012 at the IUCN
              World Conservation Congress.
  
              
  
  
              <br><a href="#top">back to top</a>
  
            </p>
            <hr>
          </li>
          <li>
            <b>Governing nature’s use and sharing its benefits equitably</b>
            <hr>
            <img src="https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2019/06/slide_park_creation_01.jpg" style="float: left; width: 600px;border-radius: 50px;" alt="conserved areas picture">
            <p>
              No protected area system could be established or managed without the
              participation and involvement of people. In this programme area,
              there will be a focus on two main themes. Firstly, the programme
              will work towards much greater implementation of issues regarding
              protected area governance, including the assessment and recognition
              of the variety of governance types for protected area systems, and
              the diversity and quality of governance at the system and site
              levels. These embrace the full suite of protected areas conserved by
              governments, by indigenous peoples and local communities, by private
              actors and many cases where these are combined as shared governance,
              including through multiple agency governance at the landscape scale
              and transboundary governance across the boundaries of sovereign
              states. Secondly, the programme will focus on the issue of social
              assessment for protected areas, the recognition of the rights to
              benefits, and the distribution of costs and benefits of the
              establishment and management of protected areas. The entry into
              force of the Nagoya Protocol on Access and Benefit Sharing will have
              implications for social assessment for protected areas.
              <br><a href="#top">back to top</a>
              <hr>
              
            </p>
  
          </li>
          <li>
            <b>Deploying nature-based solutions to global challenges</b>
            <hr>
            <img src="https://www.iucn.org/sites/dev/files/styles/section_slider_570_380_c/public/content/images/2018/ras_mohammed_national_park_egypt_c_mindgrow_cc_by-sa_2-0_850.jpg?itok=hVWDURY-" style="float: right;width: 400px;border-radius: 50px;" alt="ocean life showing biodiversity."
            
            <hr>
  
            <p>
              Maintenance of ecosystem resilience is an essential prerequisite for
              maintaining resilient socio-economic systems in the face of global
              change, and an expanded connected network of well-managed
              conservation areas is the most robust proven solution to confront
              these problems. Simply put, large healthy protected ecosystems
              conserve biodiversity and address climate change impacts directly
              and indirectly. Evidence of their value in many sectors is
              increasing in quality and substance, including for health promotion,
              food security, water provision, disaster and risk reduction, poverty
              alleviation and for dealing with the causes and impacts of climate
              change on ecosystems and society. Protected areas, especially when
              considering the full suite of management categories and governance
              types, is the foundation for maintenance of ecosystem integrity and
              for restoration efforts at the scale of the landscape and the
              seascape.
              <br><a href="#top">back to top</a>
              <hr>
            </p>
          </li>
        </ol>
      </div>
      <div style="text-align: center;">
      <br><a href="index.html">back to Index</a>
      </div>



      <br>
      <br>

      <h1 style="text-align:center;color:olive;">Shopping website: </h1>

      <div>
        <h1 style="color: rgb(5, 128, 150)">Welcome to the future of Mac</h1>

        <img
          style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
          "
          src="https://www.apple.com/v/mac/m1/a/images/overview/m1_hero__gayysked51ym_large_2x.jpg"
          alt="M1 Chip"
        />
  
        <hr style="color: red" />
        <h1 style="text-align: center">Macbook Air</h1>
        <h2>Power.It's in the Air.</h2>
        <div>
          <img
            style="float: right; width: 500px"
            src="https://www.apple.com/v/mac/m1/a/images/overview/macos_hero__fn8204yoylm6_large_2x.jpg"
            alt="Macbook Air"
          />
          <p style="font-size: 30px">
            Our thinnest, lightest notebook, completely transformed by the Apple
            M1 chip. CPU speeds up to 3.5x faster. GPU speeds up to 5x faster. Our
            most advanced Neural Engine for up to 9x faster machine learning. The
            longest battery life ever in a MacBook Air. And a silent, fanless
            design. This much power has never been this ready to go.
          </p>
          <h2>
            <a href="https://www.apple.com/us/shop/goto/buy_mac/macbook_air"
              >Buy Now!</a
            >
          </h2>
        </div>
  
        <hr style="color: red" />
  
        <h1>Macbook Pro</h1>
        <h2>All systems Pro.</h2>
        <img
          style="float: left; width: 400px"
          src="https://www.apple.com/v/macbook-pro-13/g/images/overview/hero_endframe__bsza6x4fldiq_large_2x.jpg"
          alt="Macbook Pro"
        />
        <p style="font-size: 30px">
          The Apple M1 chip gives the 13‑inch MacBook Pro speed and power beyond
          belief. With up to 2.8x CPU performance. Up to 5x the graphics speed.
          Our most advanced Neural Engine for up to 11x faster machine learning.
          And up to 20 hours of battery life — the longest of any Mac ever. It’s
          our most popular pro notebook, taken to a whole new level.
        </p>
        <h2>
          <a href="https://www.apple.com/us/shop/goto/buy_mac/macbook_air"
            >Buy Now!</a
          >
        </h2>
        <hr style="color: red" />
  
        <h1>Mac mini</h1>
        <h2>New guts.More glory.</h2>
        <img
          style="float: right; width: 400px"
          src="https://www.apple.com/v/mac-mini/l/images/overview/versatility_office__eedkqboculw2_large_2x.jpg"
          alt="Mac Mini"
        />
        <p style="font-size: 30px">
          The Apple M1 chip takes our most versatile, do-it-all desktop into
          another dimension. With up to 3x faster CPU performance. Up to 6x faster
          graphics. And our most advanced Neural Engine for up to 15x faster
          machine learning. Get ready to work, play, and create on Mac mini with
          speed and power beyond anything you ever imagined.
        </p>
        <h2>
          <a href="https://www.apple.com/us/shop/goto/buy_mac/macbook_air"
            >Buy Now!</a
          >
        </h2>
        <hr />
        <table
          cellpadding="6"
          cellspacing="5"
          class="auto-style3"
          style="width: 100%"
        >
          <caption style="text-align: center; font-size: 45px">
            Which Mac notebook is right for you?
          </caption>
          <tr>
            <th style="color: green">Macbook Air</th>
            <th style="color: yellow">Macbook Pro</th>
            <th style="color: tomato">Mac Mini</th>
          </tr>
          <tr>
            <td style="color: green">From $999</td>
            <td style="color: yellow">From $1299</td>
            <td style="color: tomato">From $699</td>
          </tr>
          <tr>
            <td style="color: green">13.3" Retina display</td>
            <td style="color: yellow">13.3" Retina display</td>
            <td style="color: tomato">-</td>
          </tr>
          <tr>
            <td style="color: green">No Touchbar</td>
            <td style="color: yellow">Touchbar</td>
            <td style="color: tomato">-</td>
          </tr>
          <tr>
            <td style="color: green">Up to 18 hours battery life</td>
            <td style="color: yellow">Up to 20 hours battery life</td>
            <td style="color: tomato">-</td>
          </tr>
          <tr>
            <td style="color: green">7 core CPU</td>
            <td style="color: yellow">8 core CPU</td>
            <td style="color: tomato">8 core CPU</td>
          </tr>
        </table>
        <hr />
        <img
          style="text-align: center"
          src="http://studentweb.cencol.ca/jfilotti/Week05/images/map-canada-provinces.jpg"
          alt="Map of Canada"
        />
        <h3><a href="index.html">back to Index</a></h3>
      </main>




      </div>

    </main>

  </body>
</html>
